@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}


.wrapper{
    display: flex;
    flex-direction: column; /* stack static and dynamic text */
    align-items: flex-start; /* align to the left edge */
    gap: 6px;
}

.wrapper .static-txt{
    color: #fff;
}

.wrapper .dynamic-txts{
    margin-left: 0; /* place directly under the static text */
}

.dynamic-txts{
    margin-left: 0;
    padding-left: 0;
}

.dynamic-txts li{
    list-style: none;
    color:#3a6cf4 ;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    height: 74px; /* reserves space for the typing line */
}

.dynamic-txts li span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    border-right: 3px solid #3a6cf4; /* cursor */
    padding-right: 6px;
    box-sizing: content-box;
}

@keyframes blink {
    0%, 49% { border-color: transparent; }
    50%, 100% { border-color: #3a6cf4; }
}

.dynamic-txts li span{ animation: blink 1s steps(2) infinite; }
.dynamic-txts li{
    position: relative;
}

.logo {
    text-decoration: none;
    color:#3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.Navigation a{
    color:#3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}


.Navigation a:hover{
    color:#6a6cf4;
}

section{
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/clearoff.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}   



.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    margin-top: 10px;
    display: inline-block;
    color: #4a6cf4;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom:30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 45px;
    transition: 0.7s ease;
}


.main-btn:hover{
    background: color #0a6cf4;
    transform: scale(1.1);
}

.socail-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30px ;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color:#3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}


.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px    ;
}

.Projects{
    background-color:#000116;
}

.Projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    border: 1px solid#fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image:hover{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.moreinfo{
    text-decoration: none;
    color: #3a6cf4;
}

.moreinfo:hover{
    color: #6a6cf4;
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3a6cf4;
}

.logo{
    border-radius: 50px;
}



/* typing animation is implemented via JavaScript for better control and timing */